@model IEnumerable<Conexion.Empleados>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de empleados</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Registro", FormMethod.Get))
{
    @Html.TextBox("searching")
    <input type="submit" value="Search" />
}
<table class="table table-striped">
    <tr>
        <th>

            @Html.DisplayName("Numero de empleado")
        </th>
        <th>

            @Html.DisplayName("Nombre(s)")
        </th>
        <th>

            @Html.DisplayName("Apellidos")
        </th>
        <th>

            @Html.DisplayName("Dirección")
        </th>
        <th>

            @Html.DisplayName("Telefono")
        </th>
        <th>

            @Html.DisplayName("RFC")
        </th>
        <th>

            @Html.DisplayName("Correo")
        </th>
        <th>

            @Html.DisplayName("Departamento")
        </th>
        <th>

            @Html.DisplayName("Dias trabajados")
        </th>
        <th>

            @Html.DisplayName("Puesto")
        </th>

        <th>

            @Html.DisplayName("Sueldo fijo mensual")
        </th>
        <th></th>
    </tr>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="3" style="color:red">
                    Ninguna coincidencia encontrada
                </td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.idNumEmpleado)*@
                        @item.idNumEmpleado
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.Nombre)*@
                        @item.Nombre
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellidos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Direccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RFC)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Correo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Departamento.NombreDepartamento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dias_asistidos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Puesto.Nombre)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Puesto.Sueldo_Fijo)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.idNumEmpleado }) |
                        <br />

                        @Html.ActionLink("Delete", "Delete", new { id = item.idNumEmpleado })
                    </td>
                </tr>
            }

        }
    </tbody>
</table>
